/* 文章列表页幻灯片样式 */
.focus_box { float: left; width: 690px; height: 330px; margin: 10px 0 20px 0; overflow: hidden; position: relative}
.focus_box img { display: block; float: left; width: 690px; height: 330px}
.focus_box img:hover { opacity: 1 !important}
.focus_box .bd {}
.focus_box .bd li { position: relative}
.focus_box .bd .t_box { width: 620px; padding: 12px 35px 10px 35px; color: #888888; position: absolute; left: 0; bottom: 0; text-align: left; z-index: 100; border-radius: 0; background: url(png.png) repeat 0 0}
.focus_box .bd .t_box h2 { height: 20px; overflow: hidden; line-height: 20px; margin: 0}
.focus_box .bd .t_box h2 a { font-size: 15px; color: #EEEEEE; font-weight: 400}
.focus_box .bd .t_box h2 a:hover { text-decoration: none}
.focus_box img { display: block}
.focus_box .hd { position: absolute; right: 45px; bottom: 12px; height: 12px; padding: 0 9px; overflow: hidden; z-index: 120; background: none}
.caption_info p a:hover { color: #FFFFFF; text-decoration: none}
.focus_box .hd li { float: left; width: 12px; height: 12px; margin: 0 0 0 5px; display: block; background: url(slide.png) no-repeat -1px -3px; cursor: pointer; text-indent: -999em}
.focus_box .hd li.on { background-position: -25px -3px}

#click_div { display: none}

a.cats { font-size: 15px; padding: 0 10px 8px 3px; color: #666666}
.relative li { width: 49%; height: 22px; line-height: 22px; padding: 0 0 0 1px}
.relative a { font-size: 13px; color: #666666}
.relative a:hover { color: #38485A}

.time_s { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 10px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6}
.time_s strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px}
.bm_c { padding: 10px 0}
.pgs { border-bottom: 0 !important}
.bdimgshare-bg, .bdimgshare-content { display: none}
.o a { color: #666666; line-height: 22px}
.mt30 { margin-top: 30px !important}
.ranking .top { background: none}
#article_content img { max-width: 690px}
.ct2 .mn { width: 690px; overflow: visible}
.ct2 .sd { width: 280px}


#nv_portal .vw .h, #nv_portal .vw .s, #nv_portal .vw .d, #nv_portal .vw .o, #nv_portal .vw .pren, #nv_forum .vw .h, #nv_forum .vw .s, #nv_forum .vw .d { margin-left: 0; margin-right: 0}
.vw .o { border: 0}
.vw .text { line-height: 24px;font-size: 13px;font-family: "微软雅黑","Microsoft YaHei","WenQuanYi Micro Hei"}
.vw p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word}
.vw .s { margin-bottom: 20px}
.hm { text-align: left}
.vw .ph { font-size: 20px; font-weight: 400; padding: 0 0 10px 0; color: #38485A}
#nv_portal .vw .h { margin-bottom: 0; border-bottom: 0; padding-bottom: 5px}
.pgs { border-bottom: 0}

.ie7 .read { margin-top: -18px}
.ie6 .read { margin-top: -18px !important}
span.read a:hover { background: #ED4747 !important}

.aprev { float: left; width: 260px; overflow: hidden}
.anext { float: right; width: 260px; overflow: hidden}

/* 评论样式 */
.tedt { border: medium none; width: 690px; overflow: hidden}
.tedt .area { width: 100%}
.tedt .pt { width: 668px; min-height: 90px; _height: 90px; padding: 8px 10px !important; box-sizing: none !important; line-height: 1.6; border: 1px solid #DDDDDD; background-color: #F8F8F8; border-radius: 2px; box-shadow: 2px 2px 2px #F0F0F0 inset; overflow: hidden; vertical-align: middle; resize: vertical; color: rgb(130, 138, 147)}
.tedt .pt.bgchange { color: rgb(187, 187, 187); background: #FFFFFF !important}

#commentsubmit_btn strong { color: #FFFFFF; font-size: 12px; font-weight: 100; font-family: "Microsoft Yahei"}
#commentsubmit_btn.pn { float: right; margin: 5px 1px 0 0}
button#commentsubmit_btn.pn:hover { background: #38485A}
#comment_ul ul { float: left; width: 690px; padding-left: 0}
#comment_ul .mbm { }
.portrait { float: left; width: 60px}
.avataright { float: right; width: 620px; padding-bottom: 5px}
.portrait img { width: 45px; height: 45px; max-width: 100%; padding: 0; margin: 0; border-radius: 50%; border: 3px solid #E6EAED}
#comment_ul .username { margin-right: 10px}
#comment_ul .xg1, #comment_ul .xg1 a { color: #999999 !important}
#comment dd { float: right; width: 620px; padding-bottom: 10px}
.card_mn { background: #FFFFFF}
.commentbox { padding: 0 0 10px 0; width: 690px; border: 0; margin-bottom: 0; background: none}
.acmt { margin-left: 1px; _margin-left: 0}
.ie7 .acmt { margin-left: -9px}


.tit01 .addnew {
    margin-left: 10px;
	padding: 0 0 0 20px;
	margin-top: 15px;
	color: #333333;
    background: url(write.png) no-repeat scroll 0px 45% transparent;
}
.tit01 .rss {
    margin-left: 15px;
    margin-top: 15px;
	padding: 0 0 0 20px;
	color: #333333;
    background: url(rss.png) no-repeat scroll 0px 45% transparent;
}
.tit01 {
    margin-bottom: 20px;
	padding-bottom: 8px;
	_padding-bottom: 0;
    border-bottom: 1px solid #EEEEEE;
    height: 34px;
}
.tit01 h3 {
    line-height: 34px;
    color: #38485A;
    padding: 0 0 8px 0;
    font-size: 17px;
    font-weight: 400;
    border-top: 0;
    display: inline-block;
    background: none repeat 0 0 #FFFFFF;
    float: left;
    border-bottom: 1px solid #38485A
}
.titx1 {
	display: block;
	height: 42px;
	line-height: 42px;
	margin: 10px 0;
	padding-bottom: 0;
	border: 1px solid #E8E8E8;
	background: #F3F3F3
}


.news_inner {
	float: left;
    width: 100%;
	height: 160px;
    padding: 20px 0 23px 0;
    border-bottom: 1px dashed #E8E8E8;
    overflow: hidden;
	transition: all 0.5s ease 0s;
	background: #FFFFFF
}
.newspic01 {
    float: left;
	width: 230px;
	height: 160px;
    padding-right: 0;
	overflow: hidden
}
..newspic01 img { width: 245px; height: 100%}	
.news_inner dl {
    float: right;
    width: 440px;
	height: 180px;
	overflow: hidden
}
.news_inner dl dt {
    float: left;
    width: 440px;
    padding-bottom: 11px;
	_padding-bottom: 0;
    overflow: hidden;
}
.news_inner dl dt a {
    float: left;
    width: 440px;
    height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "微软雅黑","宋体",serif;
    color: #38485A;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    overflow: hidden;
}
.news_inner dl dt a:hover { color: #38485A; text-decoration: none}
.news_inner dl dd {
    float: left;
    width: 440px;
    line-height: 20px;
}
.news_inner dl dd em { padding-left: 22px; background: url(actlits_09.png) no-repeat left center}
.news_inner p.date { float: left; padding-left: 23px; margin-left: 20px; background: url(actlits_15-03.png) no-repeat left center}
.news_inner .text {
    float: left;
    width: 440px;
    height: 66px;
	overflow: hidden;
	color: #747F8C;
    padding-bottom: 10px;
	margin: 10px 0 0 0;
    font-size: 13px;
    font-family: "微软雅黑","Microsoft YaHei","WenQuanYi Micro Hei";
    line-height: 25px
}
.news_inner dl dd a {
    color: #38485A;
}
.news_inner dl dd strong {
    font-weight: bold;
    color: #38485A;
}


/* 热门推荐 */
.rmtj {
    width: 100%;
}
.rmtj dl {
    width: 100%;
    overflow: hidden;
	padding: 0 2px 12px 2px;
    border-bottom: 1px dotted #C5C5C5;
}
.rmtj dl dt {
    width: 100%;
    padding: 10px 0 0 0;
    overflow: hidden;
}
.rmtj dl dt a {
    float: left;
    width: 100%;
    height: 28px;
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "微软雅黑";
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    overflow: hidden;
}
.rmtj dl dt a:hover { color: #ED4747}
.rmtj dl dd { width: 100%; height: 20px; line-height: 20px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden}


.taber { padding-top: 10px}
.taber .tb { height: 40px; overflow: visible; padding: 0 !important; background: #F3F3F3}
.taber .tb a { border: 0; padding: 0; text-align: center}
.taber .tb li { float: left; width: 93px; line-height: 40px; font-size: 14px; margin: 0; color: #333333; overflow: visible; background: #F3F3F3}
.taber .tb li a { width: 93px; text-align: center; padding: 0; overflow: visible; font-family: "Microsoft Yahei"; color: #333333}
.taber .tb .a { height: 40px; overflow: visible; background: #38485A}
.taber .tb .a a { height: 40px; color: #FFFFFF; font-weight: 400; background: none}
.taber .tb-c { width: 270px; padding: 10px 0 0 1px; _padding: 20px 0 0 1px; overflow: hidden}
.taber .tab-title { height: 40px; background: none}


/* 最新评论 */
.comments_list {
    width: 100%;
}
.rc-clearfix {
    display: block;
}
.comments_list dl {
    border-bottom: 1px dotted #C5C5C5;
    overflow: hidden;
    padding: 12px 0px;
    width: 100%;
}
.comments_list dl dt {
    float: left;
    width: 40px;
    height: 40px;
}
.rc-item .rc-avatar {
    background: none repeat 0 0 #FFFFFF;
    padding: 1px;
    border: 1px solid #999999;
}
.rc-item .rc-left {
    display: inline;
    float: left;
    margin-right: 8px;
}
.comments_list dl dd {
    float: right;
    width: 188px;
}
.comments_list dl dd a {
    width: 190px;
    height: 22px;
	line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "微软雅黑";
    font-size: 12px;
    display: block;
}
.rc-item .rc-timestamp {
    margin-left: 8px;
    font-size: 11px;
    color: #999999;
}
.comments_list dl dd a:hover {
    color: #ED4747;
    text-decoration: underline;
}
.acv_author {
    color: #18A24C;
    font-family: "微软雅黑";
    font-size: 12px;
}
.acv_author a {
    color: #18A24C;
}
.acv_comment {
    padding: 2px;
    background: none repeat scroll 0% 0% #FFF;
    overflow: hidden;
}
.acv_comment a {
    font-family: "微软雅黑";
    font-size: 12px;
}
.votehot {
    float: right;
    padding-right: 10px;
}
a.ilike_icon:link, a.ilike_icon:hover, a.ilike_icon:visited, a.ilike_icon:active {
    background: url(deng.png) no-repeat scroll 0px 0px transparent;
    padding-left: 15px;
}


/* 今日热门 */
.focus_box3 { float: left; width: 280px; position: relative; height: 260px; padding: 20px 0 0 0; overflow: hidden; background: #FFFFFF}
.focus_box3 .bd3 li { display: block; height: 200px; position: relative}
.focus_box3 .txt { background: none; position: absolute; width: 280px; height: auto; bottom: 0; left: 0; z-index: 2;overflow: hidden; padding: 0 0; transition: all 0.3s ease 0.3s; background: url(png.png)}
.focus_box3 .txt h2 { float: left; width: 260px; padding: 8px 10px; height: auto; overflow: hidden}
.focus_box3 .txt h2 a { font-size: 12px; line-height: 18px; color: #FFFFFF; text-decoration: none; font-weight: 400}
.focus_box3 img{ display: block}
.focus_box3 .btn3 { transition: all 0.2s ease 0.2s}
.focus_box3 .btn3 a { float: left;  display: block; text-indent: -9999px}
.focus_box3 .btn3 .prev { position: absolute; width: 30px; height: 45px; padding: 0; left: 0; top: 160px; background: url(arrowx.png) no-repeat left top}
.focus_box3 .btn3 .prev:hover { background: url(arrowxs.png) no-repeat left top}
.focus_box3 .btn3 .next { position: absolute; width: 30px; height: 45px; padding: 0; right: 0; top: 160px; background: url(arrowx.png) no-repeat -30px 0}
.focus_box3 .btn3 .next:hover { background: url(arrowxs.png) no-repeat -30px 0}


/* 文章列表页评论按钮样式 */
.pg a, .pg strong, .pgb a, .pg label {
    float: left;
    display: inline;
    margin-left: 4px;
    padding: 1px 10px;
    height: 26px;
    border: 1px solid #F3E5E9;
    background-color: #FFF;
    background-repeat: no-repeat;
    color: #333333;
    overflow: hidden;
    text-decoration: none;
}
.pg a, .pg strong, .pgb a, .pg label {
    float: left;
    height: 24px;
    line-height: 24px;
    margin: 0 8px 0 0;
    padding: 1px 10px;
    background: none repeat 0 0 #F1EFF0;
    overflow: hidden;
    border: medium none;
}
.pg strong {
    background-color: #38485A !important;
	font-weight: 600;
    color: #FFFFFF;
}
.pg a:hover, .pgb a:hover {
    border-color: #3184DB;
    color: #3184DB;
}
.pg a:hover, .pgb a:hover {
    background-color: #38485A;
    color: #FFFFFF;
    text-decoration: none;
}
.pg a.nxt, .pgb a {
    padding: 1px 10px;
}
.pg a.nxt {
    background: none repeat 0 0 #F1EFF0;
    padding-right: 10px;
	margin: 0
}
.pg a.nxt:hover {
    background: none repeat scroll 0% 0% #38485A;
    color: #FFFFFF;
}
.pg a.prev {
    background-repeat: no-repeat;
}
.pg a.prev:hover { background-image: url(arw_l.gif)}


/* 热门推荐 */
.hotitem {
    margin-bottom: 20px;
}
.hotitem .bd li {
    width: 280px;
    height: 200px;
    overflow: hidden;
    position: relative;
    float: left;
}
.categorybox {
    z-index: 1;
    background: none repeat scroll 0% 0% #38485A;
    top: 0;
    left: 0;
    color: #FFFFFF;
    padding: 8px 12px;
    position: absolute;
    font-size: 16px;
	font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}
.slider-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.hotitem .bd .img-box {
    width: 280px;
    height: 200px;
    position: relative;
}
.hotitem .bd .text-box {
    position: absolute;
    bottom: -74px;
    left: 0px;
    padding: 8px;
    z-index: 1;
	background: url(png.png)
}
.hotitem .bd .text-box span {
    color: #FFFFFF;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    font-weight: 400
}
.hotitem .bd .text-box h3 {
    color: #FFFFFF;
    font-size: 13px;
    height: 24px;
    overflow: hidden;
    margin-top: 6px;
    width: 270px;
}
.hotitem .bd .text-box h3 a {
    color: #FFFFFF;
    text-decoration: none;
}
.hotitem .bd .text-box p {
    font-size: 14px;
    height: 42px;
    overflow: hidden;
    color: #FFFFFF;
}
.slider-more {
    background: url(read.png) no-repeat scroll 0% 0% transparent;
    line-height: 18px;
    padding-left: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    height: 18px;
    display: block;
    margin-top: 10px;
    text-decoration: none;
}


/* 排行榜 */
.ranking { padding-top: 0}
.ranking .bd li {
    height: 32px;
    line-height: 32px;
    width: 270px;
    overflow: hidden;
    color: #38485A;
    float: left;
}
.ranking .bd .num {
    background-color: #D7D8D7;
    width: 17px;
    height: 17px;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-family: Arial;
    line-height: 17px;
    margin-right: 8px;
}
.ranking .bd li a { font-size: 14px; color: #333333}
.ranking .bd li a:hover { color: #38485A}
.ranking .bd .top .num {
    background-color: #38485A;
}

/* 美图样式 */
.animated {
    animation-duration: 1s;
}
.fadeInUp {
    animation-name: fadeInUp;
}
.mr20 {
    margin-right: 20px;
}
.photolist li { float: left; width: 690px; height: 170px; overflow: hidden; margin: 0 0 20px 0; transition: all 0.5s ease 0s; background: #F6F6F6}
.photolist li:hover { box-shadow: 2px 2px 3px #DDDDDD}
.photolist { width: 690px}
.picgallery { padding: 0}
.picgallery .picimage {
	float: left;
    width: 50px;
    height: 80px;
	padding: 30px 40px 60px 30px;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
	background: url(shadow.png) repeat-y left top
}
.pic_info { float: left; width: 520px; height: 125px; padding: 25px 10px 20px 20px; transition: all 0.5s ease 0s; background: #F6F6F6}
.picimage img { width: 271px; height: 100%}
.coverup {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out 0s;
    background: url(gallery.png) no-repeat scroll center center / 0 0 rgba(74, 134, 185, 0);
    opacity: 0;
}
a.coverup:hover {
    background: url(gallery.png) no-repeat scroll center center / 32px 32px rgba(74, 134, 185, 0.6);
    opacity: 1;
}
.picgallery h3 {
	height: 26px;
    line-height: 26px;
	margin: 0 0 10px 0;
    font-size: 16px;
	overflow: hidden
}
.picgallery h3 a {
    text-decoration: none;
    color: #333333;
	transition: all 0.5s ease 0s
}
.picgallery h3 a:hover { color: #38485A}
.picont {
    height: 30px;
	padding: 3px 10px;
    margin-top: 0;
    font-size: 12px;
	border-top: 1px solid #EEEEEE;
	background: #F9F9F9
}
.picont span {
    float: left;
    height: 30px;
    line-height: 30px;
}
.picont span a {
    text-decoration: none;
}
.picont .dateline {
    position: relative;
    height: 30px;
    padding-right: 10px;
    margin-right: 10px
}
.picgallery p {
	height: 60px;
    line-height: 20px;
	margin: 8px 10px 0 0;
	overflow: hidden;
    font-size: 12px;
    color: #999999;
}
.pic-tow-list .picgallery p {
    height: 78px;
    overflow: hidden;
}


/* 分享按钮样式 */
.bdsharebuttonbox2 a, .bdsharebuttonbox2 .bds_more {
    float: left;
    font-size: 18px;
    padding-left: 17px;
    line-height: 16px;
    height: 16px;
    background-image: url(icons_0_16.png) !important;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 3px 6px 6px 0 !important;
}

.bdsharebuttonbox2 .bds_qzone {
    background-position: 0 -52px !important;
}
.bdsharebuttonbox2 .bds_tsina {
    background-position: 0 -104px !important;
}
.bdsharebuttonbox2 .bds_tqq {
    background-position: 0 -260px !important;
}
.bdsharebuttonbox2 .bds_renren {
    background-position: 0 -208px !important;
}
.bdsharebuttonbox2 .bds_weixin {
    background-position: 0 -1612px !important;
}


/* 热门观点样式 */
.hot-view { margin-top: 15px}
.t-h2 { height: 32px; line-height: 32px; background-color: #555555; padding: 0 12px; margin: 15px 0; position: relative; font-size: 12px}
.t-h2 .more, .t-h2 em { font-size: 12px; color: #FFFFFF; font-style: normal}
.t-h2 .more { position: absolute; right: 12px; top: 0}
.view-box { width: 273px; height: 60px; border-bottom: 1px dotted #DDDDDD; margin-bottom: 0; padding: 15px 0 15px 3px}
.pull-left { float: left}
.view-box .img-box { width: 60px; text-align: left; margin: 0 10px 0 0}
.view-box .img-box img { width: 60px}
.view-box-ctt { margin-left: 75px}
.view-box-ctt h4 { margin: 0; font-size: 14px; height: 24px; line-height: 24px; overflow: hidden}
.view-box-ctt h4 a, .view-list .comment-box a { color: #333333}
.box-other { color: #999999; font-size: 12px}
.box-other .source-quote { margin-right: 5px}
.source-quote a { color: #999999}
.box-other time { margin-right: 5px}
i.icon-comment { display: inline-block; width: 14px; height: 14px; margin-top: 1px; line-height: 14px; vertical-align: text-top; background: url(replys.png) no-repeat left 1px !important}
.icon-comment { background-position: -240px -120px}
.comment-box .icon-comment { background-position: 0 -167px; margin: 1px 6px 0 5px}
.view-box-ctt h4 a { color: #333333}
.view-list .comment-box a { color: #999999}

/* 本站作者样式 */
.mls li { width: 68px; padding: 0 0 15px 0}


/* 幻灯片样式 */
.list_box {
    margin-bottom: 15px;
}
.list_focuss .bd {
    width: 280px;
    height: 180px;
    overflow: hidden;
}
.list_focuss li { position: relative}
.list_focuss h3 {
	position: absolute;
	top: 140px;
	left: 0;
	color: #FFFFFF;
	width: 260px;
    height: 40px;
    line-height: 40px;
	padding: 0 10px;
    overflow: hidden;
    font-size: 14px;
    text-align: center;
	background: url(png.png) repeat 0 0
}
.list_focuss h3 a { color: #FFFFFF}
.list_focuss .bd img {
    width: 280px;
    height: 180px;
}
.list_focuss .hd {
    width: 160px;
    height: 33px;
    overflow: hidden;
    margin: 10px auto 0px;
}
.list_focuss .hd .prev {
    width: 33px;
    height: 33px;
    background: url(point_z.png) no-repeat 0 0;
}
.list_focuss .hd .prev:hover { background: url(1left.png) no-repeat 0 0}
.list_focuss .hd ul {
    padding-top: 9px;
    overflow: hidden;
    float: left;
}
.list_focuss .hd .next {
    width: 33px;
    height: 33px;
    background: url(point_r.png) no-repeat 0 0;
}
.list_focuss .hd .next:hover { background: url(1right.png) no-repeat 0 0}
.list_focuss .hd ul li, .list_focuss .hd ul li.on, .list_focuss .hd .next, .list_focuss .hd .prev {
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    float: left;
}
.list_focuss .hd ul li {
    background: url(point.png) no-repeat scroll 0px 0px transparent;
    width: 18px;
    height: 18px;
    cursor: pointer;
    font-size: 0px;
    line-height: 0;
}
.list_focuss .hd ul li.on {
    background: url(point_on.png) no-repeat scroll 0px 0px transparent;
}


/* 热门资讯 */
.hot_read li {
    width: 280px;
    float: left;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #EEE;
}
.hot_read h3 { padding-bottom: 8px}
.hot_read h3 a { font-size: 15px; overflow: hidden}
.hot_read h3 a:hover { color: #38485A}
.hot_read .pic { float: left; width: 100px; margin-right: 12px}
.hot_read p { text-indent: 20px; line-height: 24px; color: #8C8C8C}
.hot_read p a { color: #38485A}


.mb30 { margin-bottom: 20px}

/* 热门资讯样式 */
.rank-list ul { width: 280px; height: auto; margin: 0}
.rank-list li { float: left; width: 280px; height: 65px; padding: 15px 0; border-bottom: 1px dashed #E6E6E6; overflow: hidden}
.rank-list li .pic { float: left; width: 75px; margin: 0 15px 0 0; border-bottom: 0 !important}
.rank-list li .info { float: left; width: 185px; height: 65px; padding: 0; background: none}
.rank-list li .info p { height: 22px; line-height: 22px; margin: 0 0 15px 0; overflow: hidden}
.rank-list li .info p a { font-size: 12px}
.rank-list li .info span { padding: 0 0 0 22px; color: #999999; background: url(date.png) no-repeat left 1px}
.rank-list li .info em { padding: 0 0 0 22px; margin: 0 20px 0 0; color: #999999; background: url(author3.png) no-repeat left 1px}

/* 阅读排行 */
.hbody .hd ul { float: left}
.hbody .hd li {
    float: left;
	width: 92px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 15px;
	font-weight: 400;
	padding: 0;
    margin: 0;
	border-right: 1px solid #E8E8E8;
	color: #888888;
    cursor: pointer;
	text-align: center
}
.hbody .hd li.on {
    color: #38485A;
	border-bottom: 0;
	background: #FFFFFF
}
.hbody .bd li {
    width: 280px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    font-size: 15px;
}
.hbody .bd li h3 { float: left; width: 256px; height: 30px; line-height: 30px; overflow: hidden}
.hbody .bd li p { float: left; padding: 0 0 0 28px; margin: 0; height: 42px; line-height: 22px; color: #9F9F9F; font-size: 12px; overflow: hidden}
.date, .author {
    margin-left: 5px;
    display: block;
    float: right;
    font-size: 12px;
    overflow: hidden;
    text-align: right;
    color: #999999;
}
.hbody .bd li .turn { float: left; width: 14px; margin: 0 10px 0 0; color: #ACACAC; font-size: 15px; font-family: Georgia, "Times New Roman", Times, serif}
.hbody .bd li a { font-size: 14px; color: #777777}
.hbody .bd li a:hover { color: #38485A}

.picimage span { float: left}
.picont-picpre img { width: 50px; height: 50px; box-shadow: 1px 1px 1px #CCCCCC; border-radius: 2px}


.entry-comment-number { position: absolute; width: 30px; height: 24px; color: #FFFFFF; top: 9px; right: 1px}
.entry-comment-number a { text-align:center;width:30px;height:20px;display:block;position:absolute;right: 0;top: 0;font-size:14px;line-height:20px;color: #FFFFFF;z-index:2;margin:0;padding:0; background: #38485A}
.entry-comment-number .corner { display: block; position :absolute; left: 12px; bottom: 0; height: 0; width: 0; font-size: 0; line-height: 0; z-index: 1; border-color: #38485A #FFFFFF #FFFFFF #38485A; border-style: solid; border-width: 4px}
.entry-comment-number:hover a { background: #333333}
.entry-comment-number:hover .corner { border-color: #333 #fff #fff #333}


.textads { margin-bottom: 10px}
a.textad {
    display: block;
    background: #F8F8F8;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 2px 1px #F6F6F6, 0 1px 0 #FFFFFF inset;
    text-shadow: 0 1px 0 #FFFFFF;
    color: #8C8C8C;
    font-size: 11px;
    line-height: 15px;
    padding-top: 14px;
    padding-bottom: 4px;
    margin-bottom: 10px;
    border-radius: 3px;
}
a.textad:hover { text-decoration: none !important; background: #FFFFFF}
a.textad span {
    display: block;
    padding: 0 20px 10px 20px;
}
a.textad span.textad-title { height: 25px; line-height: 25px; padding: 0 20px; margin: 0 0 10px 0; color: #555555; font-size: 15px; font-weight: 400; overflow: hidden}
a.textad span.textad-link {
	padding: 0 0 10px 38px;
	font-family: Arial,sans-serif;
    color: #38485A;
    font-weight: bold;
	background: url(trans.png) no-repeat 20px 2px
}
a.textad:hover .textad-link { background: url(trans2.png) no-repeat 20px 2px}